# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int - Integer types are whole numbers

In [1]:
num = 7
print(num)

7

##### Assinging float - Float types are decimals

In [2]:
this_float = 7.89

print(this_float)

7.89

#### Performing Calculations on ints and floats

##### Addition (+)

In [4]:
num1 = 4
num2 = 5

result = num1 + num2

print(result)

result += 5
print(result)

9
14

##### Subtraction (-)

In [5]:
num3 = 6
num4 = 7

result = num3 - num4
print(result)

-1

##### Multiplication (*)

In [6]:
num5 = 10
num6 = 15

result = num5 * num6
print(result)

150

##### Division (/)

In [7]:
#returns a float

num7 = 20
num8 = 5
result = num7/num8

print(result)

4.0

##### Floor Division (//) - Normal division but returns the largest possible integer

In [9]:
num9 = 18
num10 = 7

result = num9 // num10 
print(result)

2

##### Modulo (%) - Returns the remainder of division

In [10]:
num = 20
num2 = 6
result = num % num1
print(result)

0

##### Exponential (**)

In [12]:
square = 5 ** 2
print(square)

cubed = 5 ** 3 
print(cubed)

25
125

### String Input-Output

##### String Assignment

In [13]:
name = "Kasey"
print(name)

Kasey

##### print() <br>
<p>Don't forget about end=' '</p>

In [15]:
print("My name is: ", name)

print("My name is: ", name, end=" Kalka")

My name is:  Kasey
My name is:  Kasey Kalka

##### String Concatenation

In [16]:
first = "Kasey"
last = "Kalka" 

fullname = first + " " + last
print(fullname)

Kasey Kalka

##### Type Conversion

In [19]:
number = "57"

result = 2 - int(number)
print(result)

-55

##### input()

In [20]:
age = input("How old are you?")

print("You are ", age, " years old.")

You are  23  years old.

##### format()

In [23]:
age = input("How old are you?")
name = "Kasey" 
result = "Hi {}, you are {} years old".format(name, age)
print(result)

common = f"Hello {name}, you are {age} years now." 
print(common)

Hi Kasey, you are 21345\ years old
Hello Kasey, you are 21345\ years now.

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [24]:
color = input("What color would you like?")
year = input("What year would you like to order?") 
make = input("What is the make would you like to order?")
model = input("What model would you like to order?")

car = f"The car you would like to order is a {color} {year} {make} {model}"
print(car)

The car you would like to order is a red 1969 Ford Mustang

### If Statements

In [26]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T and F = F
# T and T = T
# T or F = T
# F or T = T
# F or F = F

num1 = 20
num2 = 15

if num1 > num2:
    print(f"{num1} is greater than {num2}")
elif num1 == num2:
    print("These values are equal")
else: 
    print(f"{num1} is less than {num2}")

20 is greater than 15

##### 'is' keyword - Checks if the value refers to the same object in memory, not if they equal each other

In [25]:
num = 50 

x = num

if num is x:
    print("yes")
else: 
    print("no")

yes

##### 'in' keyword = used to check if a value is present in a sequence

In [27]:
name = "Kasey Kalka" 

if "Kasey" in name: 
    print('yes')
else: 
    print('no')

yes

##### 'not in' keyword'

In [29]:
if "k" not in name: 
    print("Not in name")
else:
    print('In')

In

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [30]:
name = input("Please tell me your first name: ")

if 'p' in name:
    print("Your name has a p in it.")
else:
    print("Your name has no p")

Your name has no p

## Using 'and'/'or' with If Statements

In [31]:
name = "Paul" 
if 'p' or 'P' in name: 
    print('P')
else:
    print('no p')

P

### Elif Statements

### Else Statements

In [ ]:
# see above

### For Loops

In [32]:
name = "Kasey"

for letter in name: 
    print(letter)

K
a
s
e
y

##### Continue Statement

In [33]:
# will continue to next iteration
for letter in name: 
    if letter == 's':
        continue
    print(letter)

K
a
e
y

##### Break Statement

In [35]:
# will break out of current loop
for letter in name: 
    if letter == 'e':
        break
    print(letter)

print("done")

K
a
s
done

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration
#pass is kind of like a placeholder

for letter in name: 
    pass #add functionality later

##### Double For Loops

In [37]:
for num1 in range(5): 
    for num2 in range(5): 
        print(f"num1: {num1} + num2: {num2} = {num1 + num2}")

num1: 0 + num2: 0 = 0
num1: 0 + num2: 1 = 1
num1: 0 + num2: 2 = 2
num1: 0 + num2: 3 = 3
num1: 0 + num2: 4 = 4
num1: 1 + num2: 0 = 1
num1: 1 + num2: 1 = 2
num1: 1 + num2: 2 = 3
num1: 1 + num2: 3 = 4
num1: 1 + num2: 4 = 5
num1: 2 + num2: 0 = 2
num1: 2 + num2: 1 = 3
num1: 2 + num2: 2 = 4
num1: 2 + num2: 3 = 5
num1: 2 + num2: 4 = 6
num1: 3 + num2: 0 = 3
num1: 3 + num2: 1 = 4
num1: 3 + num2: 2 = 5
num1: 3 + num2: 3 = 6
num1: 3 + num2: 4 = 7
num1: 4 + num2: 0 = 4
num1: 4 + num2: 1 = 5
num1: 4 + num2: 2 = 6
num1: 4 + num2: 3 = 7
num1: 4 + num2: 4 = 8

### While Loops

In [38]:
num = 0

while num < 3: 
    print(num)
    num += 1

1
2
3

##### Looping 'While True'

In [39]:
num = 0

while True:
    num += 1
    if num >= 10: 
        break
    print(num)

1
2
3
4
5
6
7
8
9

##### While & For Loops Used Together

In [42]:
num = 1

while num < 5: 
    print("while loop")

    for i in range(2):
        print("do something in for loop")

    num += 1

while loop
do something in for loop
do something in for loop
do something in for loop
do something in for loop
do something in for loop
do something in for loop
do something in for loop
do something in for loop
do something in for loop
do something in for loop
while loop
do something in for loop
do something in for loop
do something in for loop
do something in for loop
do something in for loop
do something in for loop
do something in for loop
do something in for loop
do something in for loop
do something in for loop
while loop
do something in for loop
do something in for loop
do something in for loop
do something in for loop
do something in for loop
do something in for loop
do something in for loop
do something in for loop
do something in for loop
do something in for loop
while loop
do something in for loop
do something in for loop
do something in for loop
do something in for loop
do something in for loop
do something in for loop
do something in for loop
do something in for loop
do something in for loop
do something in for loop

### Built-In Functions

##### range()

In [47]:
#range takes in multiple parameters: Start Stop Step

for num in range(3, 20, 2):
    print(num)

3
5
7
9
11
13
15
17
19

##### len()

In [50]:
name = "K a s e y" 

#spaces count!

length = len(name)
print(length)

9

##### help() -  used to display the documentation of modules, functions, classes, keywords, etc.

In [51]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance() - checks if the object is the type

In [52]:
print(isinstance(4.5, int))

False

##### abs() - returns the absolute value

In [53]:
print(abs(7-20))

13

### Try and Except Blocks
#### try - lets you test a block of code for errors
#### except - lets you handle the error

In [55]:
try:
    number = 1 
    new_num = input("What number am I thinking of?")
    if new_num != number: 
        new_num += number
        print("your number is: ", new_num)
except:
    print('That did not work')

your number is:  1235

### Lists

##### Declaring Lists

In [56]:
my_list = []

names = ['William', 'Rhianna', 'Sean', 'Christian']

print(names)

['William', 'Rhianna', 'Sean', 'Christian']

##### Indexing a List

In [57]:
print(names[0])

print(names[-1])

William
Christian

##### .append()

In [60]:
names.append('Sean B')
print(names)

print(names[-1])

['William', 'Rhianna', 'Sean', 'Christian', 'Sean B', 'Sean B', 'Sean B']
Sean B

##### .insert()

In [61]:
names.insert(2, 'Peace')
print(names)

['William', 'Rhianna', 'Peace', 'Sean', 'Christian', 'Sean B', 'Sean B', 'Sean B']

##### .pop()

In [63]:
last = names.pop()
print(last)
print(names)

another = names.pop(2)
print(another)
print(names)

Sean B
['William', 'Rhianna', 'Peace', 'Sean', 'Christian', 'Sean B']
Peace
['William', 'Rhianna', 'Sean', 'Christian', 'Sean B']


##### .remove() - removes element in a list, does not remove duplicates

In [64]:
#cant store what you remove and you cannot remove from an index. You have to know what your'e removing
names.remove('Sean B') 
print(names)

['William', 'Rhianna', 'Sean', 'Christian']

##### del()

In [ ]:
del(name[2])

##### Concatenating Two Lists

In [65]:
l_1 = [1, 2, 3, 10, 11, 12]
l_2 = [4, 5, 6, 13, 14, 15]

large_list = l_1 + l_2
print(large_list)

[1, 2, 3, 10, 11, 12, 4, 5, 6, 13, 14, 15]

##### Lists Within Lists

In [70]:
child = ['this', 'small', 'list'] 
parent = ['bigger', 'list', child]

print(parent[2])
print(parent[2][1])

['this', 'small', 'list']
small

##### Looping Through Lists

In [71]:
students = ['Tristyn', 'Ash', 'Gabe', 'Nate']

for student in students:
    print(student)

Tristyn
Ash
Gabe
Nate

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [121]:
num = 0

while cube < 1000:
    num += 1
    cube = num**3
    print(cube)

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [124]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
a = 1

for i in range(1,100):
    a += 1
    if a**(i-1) % i == 1:
        print(a)

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [75]:
age = int(input("Tell me how old you are: "))

if age < 18:
    print('kids')
elif age < 65:
    print('adults')
else:
    print('seniors')

seniors